.home_page {
  padding: 1em 3em;
  gap: 1em;
  width: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-flow: column nowrap;
  text-align: center;

  &--title {
    font-size: 3.5em;
  }

  &--text {
    font-size: 1.5em;
  }

  &--link {
    //custom styles
  }
}