.button-link{
  border: none;
  padding: .7em;
  border-radius: 6px;
  min-width: 120px;
  text-align: center;
  font-weight: bold;
  background-color: #0ea158;
  color: #FFF;
  cursor: pointer;

  &:hover{
    background-color: #0b8b4b;
  }
}