.navbar_container {
  background-color: #222222;
  padding: .5em 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &--brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2em;
    font-weight: bold;

    img{
      width: 64px;
      height: 100%;
    }
  }

  &--right_bar {
    padding: .5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;

    .navbar_container--username {
      padding: .5em;
      border-radius: 6px;
      color: #222;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
    }
  }


  &--button-link {
    color: #FFF;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 1em;
    transition: all 250ms;

    &:hover {
      text-shadow: 0 0 6px #222;
    }
  }
}