<footer class="footer_container">
  <p class="footer_container--description">
    Quotes App inspired in Hotrails tutorial, developed by <b>Marco Poggi</b>.
  </p>
  <ul class="footer_container--social">
    <li class="footer_container--social-item">
      <a href="https://github.com/MarcoPoggi" target="_blank" rel="noopener noreferrer"><%= image_tag "github-icon.svg", class:"social-item-image"%></a>
    </li>
    <li class="footer_container--social-item">
      <a href="https://www.linkedin.com/in/marcopoggi-dev/" target="_blank" rel="noopener noreferrer"><%= image_tag "linkedin-icon.svg", class:"social-item-image"%></a>
    </li>
  </ul>
</footer>
